@model ToDoTask.Models.Task

@{
    ViewData["Title"] = "Create";
}

<h3>Create</h3>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control bg-light autofocus" })
            <span asp-validation-for="Title" class="text-danger"></span>
            
            <div class="mt-2">
                <input type="submit" value="Save" class="btn btn-outline-success" />
                <input type="submit" asp-action="Index" value="Cancel" class="btn btn-outline-danger">
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
