@model ToDoTask.Models.Task

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control bg-light" })
            <span asp-validation-for="Title" class="text-danger"></span>
            <div class="mt-2 ">
                <input type="submit" value="Save" class="btn btn-outline-warning" />
                <input type="submit" asp-action="Index" value="Cancel" class="btn btn-outline-info">
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
